<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/logo.png"/>
         Pacer
      </a>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text">
          <a class="text-warning" *ngIf="currentUser" routerLink="/profile" routerLinkActive="active">{{currentUser?.firstName}} • {{currentUser?.lastName}} |</a>
          <a *ngIf="currentUser" routerLink="/login" routerLinkActive="active"(click)="onLogout()"> Logout</a>
          <a *ngIf="!currentUser" routerLink="/login" routerLinkActive="active">Login</a>
        </p>
      </li>
    </ul>
  </div>
</nav>
